<!-- header template -->
<div class="header">
  <div class="header__content-wrapper">
    <div class="header__filename">
      <span>example.pdf</span>
    </div>
    <div class="header__page-indicator">
      <span class="header__page-indicator-current">6</span>
      <span class="header__page-indicator-separator">/</span>
      <span class="header__page-indicator-total">10</span>
    </div>
    <div class="header__pdf-controls">
      <button class="header__btn">zoom in</button>
      <button class="header__btn">zoom out</button>
      <button class="header__btn">print</button>
      <button class="header__btn">download</button>
    </div>
  </div>
</div>
