/* You can add global styles to this file, and also import other style files */
// common reset styles

* {
  box-sizing: border-box;
  font-family: sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
}
